@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition-duration: 150ms;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100dvh;
  overflow: hidden;
}

main#admin {
  grid-template-columns: 200px 1fr;
}

main#staff section {
  height: calc(100dvh - 64px);
}

.invalid-feedback {
  width: auto!important;
}

.btn-outline-success.btn-momo-custom:hover {
  background-color: #a50064;
  border-color: #a50064; /* Đồng bộ màu viền */
  color: white;           /* Đổi màu chữ chính thành trắng */
}